@mixin text-bold {
    font-family: Roboto;
    font-weight: 700;
    font-size: 2.441em;
    color: #575757;   
}

@mixin text-regular {
    font-family: Roboto;
    font-weight: 400;
    font-size: 12px;
    color: #575757;
}




$night-bg: #1E3448;
$night-gradient: linear-gradient(45deg, rgba(16, 55, 131, 0.52) 0%, #9BAFD9 100%);




*{
    @include text-regular()
}



// ! White theme standard
$day-bg: #ffffff;
$day-bg-hover: #efefef;
$grey-color: #575757;
$grey-color-hover: #474747;
$day-gradient: linear-gradient(67.32deg, #B5C6E0 0%, #EBF4F5 100%);;
$day-shadow: 0px 19px 31px rgba(80, 114, 151, 0.29);;


.tile{
    background: $day-bg;
    box-shadow: $day-shadow;
    height: 164px;
    max-height: 20vh;
    border-radius: 10px;
    width: 100px;
}

@mixin align-center {
    display: flex;
    align-items: center;
    justify-content: center;
}


body{
    @include text-regular();
    background: $day-gradient;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

.main-wrapper{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.input-wrapper{
    margin: auto;
}

.input-form{
    @include align-center();
    width: 33vw;
    max-width: 562px;
}
.input-form>div{
    width: 85%;
}

.input-block{
    font-size: 0;
    display: flex;
    margin: 10px 0;
    width: 100%;
}
input{
    border: 1px solid $grey-color;
    height: 41px;
    border-radius: 5px 0 0 5px;
    border-right: none;
    width: 380px;
    padding: 0 10px;
}
input:hover{
    background: $day-bg-hover;
}
input:focus{
    border: none;
}



button{
    background: $grey-color;
    color: $day-bg;
    height: 41px;
    border-radius: 0 5px 5px 0;
    cursor: pointer;

}
button:hover{
    background: $grey-color-hover;
}


.output-wrapper{
    margin: 10vh 0;
    width: 60vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.output-tile{
    @include align-center();
    width: 271px;
}
.output-tile h2{
    @include text-bold();
    display: inline-block;
    margin-left: 10px;
}
.output-tile p{
    @include text-regular();
    display: inline-block;
    margin-left: 5px;
    text-transform: capitalize;
}


// mode switcher
.mode-section{
    position: fixed;
    bottom: 20px;
    left: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
}

.mode-tile{
    @include align-center();
    flex-direction: column;
    justify-content: space-evenly;
    height: 78px;
    width: 271px;
}

.switch-btn{
    padding: 0;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    margin: 0 10px;
    border: 1px solid $grey-color;
    transition: .2s ease-in-out;
}
.switch-btn:hover{
    transform: scale(1.2);
    transition: .2s ease-in-out;
}

#switcher-day{
    background: $day-gradient ;
}
#switcher-night{
    background: $night-gradient ;
}
